[Desktop Entry]
Type=Application
Version=1.0
Name=Install PowerVLC
Name[ca]=Instal·la PowerVLC
Name[cs]=Nainstalovat PowerVLC
Name[de]=PowerVLC installieren
Name[es]=Instalar PowerVLC
Name[fr]=Installer PowerVLC
Name[it]=Installa PowerVLC
Name[ja]=PowerVLC をインストール
Name[ko]=PowerVLC 설치
Name[nl]=PowerVLC installeren
Name[pl]=Zainstaluj PowerVLC
Name[pt_BR]=Instalar o PowerVLC
Name[pt_PT]=Instalar o PowerVLC
Name[ru]=Установить PowerVLC
Name[sv]=Installera PowerVLC
Name[tr]=PowerVLC'yi Kur
Name[uk]=Установити PowerVLC
Name[zh_CN]=安装 PowerVLC
Name[zh_TW]=安裝 PowerVLC
Comment=Install or update PowerVLC for the current user
Comment[ca]=Instal·la o actualitza PowerVLC per a l’usuari actual
Comment[cs]=Nainstaluje nebo aktualizuje PowerVLC pro aktuálního uživatele
Comment[de]=PowerVLC für den aktuellen Benutzer installieren oder aktualisieren
Comment[es]=Instalar o actualizar PowerVLC para el usuario actual
Comment[fr]=Installer ou mettre à jour PowerVLC pour l’utilisateur actuel
Comment[it]=Installa o aggiorna PowerVLC per l’utente corrente
Comment[ja]=現在のユーザー用に PowerVLC をインストールまたは更新します
Comment[ko]=현재 사용자를 위해 PowerVLC를 설치하거나 업데이트합니다
Comment[nl]=PowerVLC voor de huidige gebruiker installeren of bijwerken
Comment[pl]=Instaluje lub aktualizuje PowerVLC dla bieżącego użytkownika
Comment[pt_BR]=Instalar ou atualizar o PowerVLC para o usuário atual
Comment[pt_PT]=Instalar ou atualizar o PowerVLC para o utilizador atual
Comment[ru]=Установить или обновить PowerVLC для текущего пользователя
Comment[sv]=Installera eller uppdatera PowerVLC för den aktuella användaren
Comment[tr]=PowerVLC'yi geçerli kullanıcı için kur veya güncelle
Comment[uk]=Установити або оновити PowerVLC для поточного користувача
Comment[zh_CN]=为当前用户安装或更新 PowerVLC
Comment[zh_TW]=為目前使用者安裝或更新 PowerVLC
Exec=/bin/sh -c "set -f;IFS=;cd \\$(dirname \\$1)&&exec /bin/sh ./.install-powervlc.sh" sh %k
TryExec=/bin/sh
Icon=system-software-install
Terminal=false
Categories=AudioVideo;
StartupNotify=true
